import React from 'react';

interface {{properCase name}}ViewProps {
  // TODO: Define props here
}

const {{properCase name}}View: React.FC<{{properCase name}}ViewProps> = (props) => {
  return (
    <div>
      {/* TODO: Implement {{properCase name}} view */}
      <h1>{{properCase name}} View Component</h1>
    </div>
  );
};

export default {{properCase name}}View;
